<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bitLogin - Login WhatsApp</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&family=Roboto:wght@500&display=swap"
    rel="stylesheet" />
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      font-family: "Roboto";
    }

    .container {
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .margin-none {
      margin: 0;
    }

    .margin-50 {
      margin: 50px;
    }

    .text-gray {
      color: #757575;
    }

    .title {
      font-size: 24px;
    }

    .subtitle {
      font-size: 16px;
    }

    .mb-60 {
      margin-bottom: 60px;
    }

    .mt-60 {
      margin-top: 60px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="open-whatsapp">
      <h4 class="title mb-60">Login Success!</h4>
      <svg width="120" height="120" viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="margin-50">
        <path
          d="M58.5 0.3125C73.9323 0.3125 88.7325 6.44295 99.6448 17.3552C110.557 28.2675 116.688 43.0677 116.688 58.5C116.688 73.9323 110.557 88.7325 99.6448 99.6448C88.7325 110.557 73.9323 116.688 58.5 116.688C43.0677 116.688 28.2675 110.557 17.3552 99.6448C6.44295 88.7325 0.3125 73.9323 0.3125 58.5C0.3125 43.0677 6.44295 28.2675 17.3552 17.3552C28.2675 6.44295 43.0677 0.3125 58.5 0.3125ZM51.2515 69.9796L38.3256 57.0453C37.8622 56.5819 37.312 56.2143 36.7066 55.9636C36.1012 55.7128 35.4522 55.5837 34.7969 55.5837C34.1416 55.5837 33.4927 55.7128 32.8872 55.9636C32.2818 56.2143 31.7316 56.5819 31.2682 57.0453C30.3324 57.9812 29.8066 59.2505 29.8066 60.574C29.8066 61.8975 30.3324 63.1668 31.2682 64.1026L47.727 80.5614C48.1891 81.0271 48.7388 81.3967 49.3444 81.649C49.95 81.9012 50.5996 82.0311 51.2557 82.0311C51.9117 82.0311 52.5613 81.9012 53.1669 81.649C53.7725 81.3967 54.3222 81.0271 54.7843 80.5614L88.8656 46.4718C89.3351 46.0103 89.7087 45.4605 89.9647 44.8539C90.2207 44.2473 90.3541 43.5961 90.3572 42.9377C90.3602 42.2794 90.2329 41.6269 89.9826 41.018C89.7322 40.4091 89.3638 39.8557 88.8985 39.3899C88.4332 38.9241 87.8803 38.555 87.2717 38.3039C86.6631 38.0529 86.0108 37.9248 85.3524 37.9271C84.694 37.9293 84.0426 38.062 83.4358 38.3172C82.8289 38.5725 82.2786 38.9455 81.8166 39.4145L51.2515 69.9796Z"
          fill="#25D366" />
      </svg>
      <p class="subtitle text-gray mt-60">
        <%= type === 'validate' ? 'Redirecting to WhatsApp...' : `WA Number :
          +${data.data.phoneNumber}` %>
      </p>
    </div>
  </div>

  <% if(type === 'validate') { %>
  <script>
    const waNumber = "<%= whatsappNumber %>";
    const shop = "<%= data.data.shopName %>";
    window.location.href =
      `whatsapp://send?phone=${waNumber}&text=Send%20this%20message%20to%20continue%20to%20*${shop}*`;
  </script>
  <% } %>
</body>

</html>