<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bitLogin - Login WhatsApp Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
   
  </head>
  <body>
    <div class="container">

      <div id="openWhatsappContent" class="hide">
        <h4 class="title">Open WhatsApp</h4>
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
        </div>
        <p class="text-gray subtitle mt-10">
          Send the WhatsApp message on your phone
        </p>
      </div>



      <div id="formCustomer" class="hide">
        <center>
          <h4 class="title mb-70">Welcome to <%= shop %></h4>
          <form id="customerForm">
            <div id="alertBody" class="hide">
              <span id="alertMessage"></span>
            </div>
            <input type="hidden" id="phone" />
            <div class="form-group">
              <label for="name">What is your name?</label>
              <br />
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Full Name"
              />
            </div>
            <div class="form-group">
              <label for="email">What is your email?</label>
              <br />
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Email"
              />
            </div>
            <button type="submit" id="btnSubmit">Submit</button>
          </form>
        </center>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
      $(document).ready(function () {
        const apiUrl = "<%= apiUrl %>";
        const barcodeContent = document.getElementById("barcodeContent");
        const openWhatsappContent = document.getElementById(
          "openWhatsappContent"
        );
        const verifyingWhatsappContent = document.getElementById(
          "verifyingWhatsappContent"
        );
        const loginSuccessContent = document.getElementById(
          "loginSuccessContent"
        );
        const formCustomerContent = document.getElementById("formCustomer");
        const linkLogin = document.getElementById("linkLogin");

        const socket = io.connect(apiUrl, {
          path: "/bitlogin/socket.io/",
        });

        const rand = Math.random().toString();
        socket.emit("join-auth-whatsapp", { id: rand });

        socket.on("connect", () => {
          console.log("Socket Connected");
        });

        socket.on("login-whatsapp", (data) => {
          if (data.status === 1) {
            sessionStorage.setItem("code", data.code);
            openWhatsappContent.classList.remove("hide");
            barcodeContent.classList.add("hide");
            verifyingWhatsappContent.classList.add("hide");
            loginSuccessContent.classList.add("hide");
            formCustomerContent.classList.add("hide");
            fetchChatUser();
          }
          if (data.status === 2) {
            verifyingWhatsappContent.classList.remove("hide");
            barcodeContent.classList.add("hide");
            openWhatsappContent.classList.add("hide");
            loginSuccessContent.classList.add("hide");
            formCustomerContent.classList.add("hide");
            abortFetching();
          }
          if (data.status === 3) {
            const email = data.email;
            if (email) {
              loginSuccessContent.classList.remove("hide");
              barcodeContent.classList.add("hide");
              openWhatsappContent.classList.add("hide");
              verifyingWhatsappContent.classList.add("hide");
              formCustomerContent.classList.add("hide");
              const redirectUrl = `${apiUrl}/bitlogin/api/login/whatsapp/callback?email=${data.email}`;
              linkLogin.href = redirectUrl;

              setInterval(function () {
                linkLogin.click();
              }, 5000);
            } else {
              const phoneInput = document.getElementById("phone");
              phoneInput.value = data.phone;
              barcodeContent.classList.add("hide");
              openWhatsappContent.classList.add("hide");
              verifyingWhatsappContent.classList.add("hide");
              loginSuccessContent.classList.add("hide");
              formCustomerContent.classList.remove("hide");
            }
          }
        });

        const updateInterval = 2500;
        const validateWhatsappUrl = `${apiUrl}/bitlogin/api/login/whatsapp/status`;
        const controller = new AbortController();
        const signal = controller.signal;


        function abortFetching() {
          controller.abort();
        }
        // Ajax Post Form
        $("#customerForm").submit(function (e) {
          const phone = $("#phone").val();
          const name = $("#name").val();
          const email = $("#email").val();
          const domain = "<%= shop %>";
          const alertContent = $("#alertBody");

          $.ajax({
            method: "POST",
            url: "/shopify/customer",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
              name,
              email,
              phone,
              domain,
            }),
            beforeSend: function (data) {
              $("#btnSubmit").attr("disabled", true);
              $("#btnSubmit").text("Please wait...");
            },
            error: function (err) {
              console.log(err);
            },
            success: function (data) {
              if (!data.success) {
                toastr.error(data.message, "Error!");
                $("#btnSubmit").attr("disabled", false);
                $("#btnSubmit").text("Submit");
              }
            },
          });

          e.preventDefault();
        });
      });
    </script>
  </body>
</html>
